h1 {
    color: blue;
    font-size: 40px;
    background-color: black;
}

.test {
    margin: 30px;

}

.test2 {
    color: purple;
    background-color: green;
}

.alignc {
    text-align: center;
}

* {

    margin:0;

}